@use '@/shared/styles/mixins.scss' as mixins;

.sidebar {
  width: 220px;
  flex: 0 0 auto;
  border-right: 1px solid var(--dark-300);
}

.navigation {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 24px 36px 36px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: inline-flex;
  align-items: center;
  width: max-content;
  gap: 12px;
  padding: 0 4px;
  border-radius: 2px;

  color: var(--light-100);
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition:
    color 0.2s ease,
    box-shadow 0.2s ease;
}

.item:not(.itemDisabled):hover {
  color: var(--accent-100);
}

.item:focus-visible {
  box-shadow: inset 0 0 0 2px var(--accent-500);
}

.itemActive {
  color: var(--accent-500);
}

.itemActive:hover {
  color: var(--accent-100);
}

.itemDisabled {
  color: var(--dark-100);
  cursor: default;
  pointer-events: none;
}

.label {
  white-space: nowrap;
}

.icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-color: currentColor;

  mask-image: var(--icon-url);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: var(--icon-url);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.icon_personOutline {
  --icon-url: url('../../../../public/icons/ui/person-outline.svg');
}

.icon_person {
  --icon-url: url('../../../../public/icons/ui/person.svg');
}

.icon_trendingUpOutline {
  --icon-url: url('../../../../public/icons/ui/trending-up-outline.svg');
}

.icon_trendingUp {
  --icon-url: url('../../../../public/icons/ui/trending-up.svg');
}

.icon_creditCardOutline {
  --icon-url: url('../../../../public/icons/ui/credit-card-outline.svg');
}

.icon_creditCard {
  --icon-url: url('../../../../public/icons/ui/credit-card.svg');
}

.icon_imageOutline {
  --icon-url: url('../../../../public/icons/ui/image-outline.svg');
}

.icon_image {
  --icon-url: url('../../../../public/icons/ui/image.svg');
}

@include mixins.vp-1023 {
  .sidebar {
    width: 200px;
  }

  .navigation {
    padding-left: 24px;
  }
}
